# Datafest final hackathon

In [2]:
import pandas as pd

## Wrangling

### Assessing

In [4]:
df = pd.read_csv('Zentel Network Service Ticket Data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   object
 5   Ticket Resp Time   5998 non-null   object
 6   Issue Res Time     5998 non-null   object
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   object
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: object(12)
memory usage: 562.4+ KB

In [13]:
df_clean.sample()

,report_id,report_channel,customer_name,state_key,ticket_open_time,ticket_resp_time,issue_res_time,fault_type,operator,ticket_close_time,ticket_status,business_status
3499,AXA-20201202-4600-MAC,CH04,ShopLite,NGS035,2020/12/02 14:59:45,2020/12/02 15:00:04,2020/12/02 19:25:26,Customers End,Atiku,2020/12/03 01:00:56,Completed,Closed

### Issues

- wrong datatype
- Null values
- column headers having spaces instead of underscores

In [10]:
# creating a copy
df_clean = df.copy()

In [24]:
# converting from the wrong datatype to the right datatype
df_clean['ticket_close_time'] = pd.to_datetime(df_clean['ticket_close_time'], errors='coerce')
df_clean['ticket_open_time'] = pd.to_datetime(df_clean['ticket_open_time'], errors='coerce')
df_clean['ticket_resp_time'] = pd.to_datetime(df_clean['ticket_resp_time'], errors='coerce')
df_clean['issue_res_time'] = pd.to_datetime(df_clean['issue_res_time'], errors='coerce')

In [31]:
# dropping null values
df_clean.dropna(subset=['ticket_close_time'], inplace=True)

In [14]:
# replacing null values with unknown
df_clean["fault_type"].fillna("Unknown", inplace = True)

In [11]:
# converting headers from spaced to underscored
df_clean.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [30]:
# exporting csv
df_clean.to_csv('zentel_clean.csv')